<!-- Hamburder menu button -->
<!-- <div class="hamburger-menu">
  <div class="line line-1"></div>
  <div class="line line-2"></div>
  <div class="line line-3"></div>
</div> -->
<!-- End of amburder menu button -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of navbar -->

<!-- Switch role button -->
<section class="dropdown-wrapper">
  <div ngbDropdown placement="bottom-start" class="dropdown d-inline-block">
    <button
      id="switch-role-dropdown-btn"
      class="btn btn-secondary switch-role"
      type="button"
      ngbDropdownToggle
    >
      Switch Roles
    </button>
    <div
      class="dropdown-menu"
      aria-labelledby="switch-role-dropdown-btn"
      ngbDropdownMenu
    >
      <a class="dropdown-item" href="#" data-roleId="1" ngbDropdownItem>Switch to roleId 1</a>
      <a class="dropdown-item" href="#" data-roleId="2" ngbDropdownItem>Switch to roleId 2</a>
      <a class="dropdown-item" href="#" data-roleId="3" ngbDropdownItem>Switch to roleId 3</a>
      <a class="dropdown-item" href="#" data-roleId="4" ngbDropdownItem>Switch to roleId 4</a>
      <a class="dropdown-item" href="#" data-roleId="5" ngbDropdownItem>Switch to roleId 5</a>
    </div>
  </div>
</section>
<!-- End of switch role button -->
