<!-- <li ngbDropdown class="nav-item">
  <button type="button" class="nav-link" ngbDropdownToggle>menu_1</button>
  <div class="nav-dropdown center" ngbDropdownMenu>
    <a
      class="nav-dropdown-item"
      (click)="updateIsMenuCollapsed()"
      ngbDropdownItem
    >
      menu_1_1
    </a>
    <a
      class="nav-dropdown-item"
      (click)="updateIsMenuCollapsed()"
      ngbDropdownItem
    >
      menu_1_2
    </a>
  </div>
</li> -->
<!-- <ng-container *ngFor="let menu of menuToBeRendered;">

</ng-container> -->